<div class="app-primary-header">
  <div [ngSwitch]="newRule">
    <h1 *ngSwitchCase="true">New rule</h1>
    <h1 *ngSwitchDefault>Editing rule: {{currentRule.name}}</h1>
  </div>
</div>
<div class="row">
  <mat-card fxFlex="95%">
    <form [formGroup]="ruleForm" novalidate *ngIf="formReady">
      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex>
            <!-- rules name -->
            <div class="row mb-3">
              <div class="col-lg-10 col-md-12 col-sm-12">
                <mat-form-field class="input-full">
                  <input matInput placeholder="Rule alias *" formControlName="name">
                  <mat-error *ngIf="ruleForm.controls.name.errors">
                    Rule alias is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- URL -->
            <div class="row mb-2">
              <div class="col-lg-3 col-md-12 col-sm-12">
                <mat-form-field class="input-full">
                  <mat-select placeholder="Operator *" formControlName="operator">
                    <mat-option *ngFor="let key of operatorKeys" [value]="key">{{operatorRules[key]}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-7 col-md-12 col-sm-12">
                <mat-form-field class="input-full">
                  <input matInput placeholder="URL *" formControlName="url">
                  <mat-error *ngIf="ruleForm.controls.url.errors">
                    URL is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- tab title -->
            <div class="row mb-3">
              <div class="col-lg-10 col-md-12 col-sm-12">
                <mat-form-field class="input-full">
                  <input matInput placeholder="Tab Title" formControlName="title">
                </mat-form-field>
              </div>
            </div>
            <!-- tab icon -->
            <div class="row mb-2">
              <div class="col-lg-2 col-md-12 col-sm-12">
                <mat-form-field>
                  <mat-select class="input-full" placeholder="Tab icon" formControlName="icon" #select="matSelect">
                    <mat-select-trigger>
                      <img *ngIf="select.selected && select.selected.value != 'none'" class="md-img-select mat-icon-16x" src="assets/{{getIcon(select.selected?.value)?.path}}"
                        alt="{{ select.selected?.viewValue }}"> {{ select.selected?.viewValue }}
                    </mat-select-trigger>
                    <mat-option layout="row" layout-align="start center" *ngFor="let icon of icons" [value]="icon.key">
                      <img class="md-img-select mat-icon-16x" *ngIf="icon.path" src="assets/{{icon.path}}" alt="{{ icon.name }}"> {{ icon.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex>
            <!-- banner -->
            <div class="row mb-3">
              <div class="col-lg-5 col-md-3 col-sm-12">
                <mat-checkbox color="primary" [(ngModel)]="useBanner" [ngModelOptions]="{standalone: true}" (change)="toggleAddBannerCheckbox()">
                  Add banner to site?
                </mat-checkbox>
              </div>
            </div>
            <mat-card class="mat-card-nomargin" *ngIf="useBanner" formGroupName="banner">
              <!-- banner text -->
              <div class="row mb-2">
                <div class="col-lg-10 col-md-12 col-sm-12">
                  <mat-form-field class="input-full">
                    <input matInput placeholder="Banner text" formControlName="text">
                  </mat-form-field>
                </div>
              </div>
              <!-- Banner Colors -->
              <div class="row mb-2">
                <div class="col-lg-5 col-md-12 col-sm-12">
                  <mat-form-field class="input-full">
                    <input matInput placeholder="Banner background color" formControlName="bgColor">
                  </mat-form-field>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                  <mat-form-field class="input-full">
                    <input matInput placeholder="Banner text color" formControlName="textColor">
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </form>
    <div class="mt-4">
      <button data-spec-save mat-raised-button color="primary" [disabled]="!ruleForm.valid" (click)="save()">Save</button>
      <button data-spec-cancel mat-raised-button (click)="cancel()">Cancel</button>
    </div>
  </mat-card>
</div>