
<md-toolbar id="appToolbar" color="primary">
  <span><md-icon>mood</md-icon></span>
  <span>Yay, Material in Angular 2!</span>
</md-toolbar>

<md-sidenav-container>

  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <a md-list-item class="sidenav-link">
        <md-icon md-list-icon>account_balance</md-icon>
        <span class="title" md-line>comp1</span>
        <span md-line class="secondary">test</span>
      </a>
      <a md-list-item class="sidenav-link">
        <md-icon md-list-icon>android</md-icon>
        <span class="title" md-line>comp2</span>
        <span md-line class="secondary">test</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <div class="my-content">

    <div fxLayout="column">
      <div fxLayout="row">
        <md-card>AAAAAAAAAA</md-card>
        <md-card>BBBBBBBBBB</md-card>
        <md-card>CCCCCCCCCC</md-card>
        <md-card>DDDDDDDDDD</md-card>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row">
        <md-card>AAAAAAAAAA</md-card>
        <md-card>BBBBBBBBBB</md-card>
        <md-card>CCCCCCCCCC</md-card>
        <md-card>DDDDDDDDDD</md-card>
      </div>
    </div>

  </div>
</md-sidenav-container>
