<div class="app-primary-header">
  <h1>Environments</h1>
</div>

<div class="row">

  <mat-card fxFlex="95%">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="operator">
        <mat-header-cell *matHeaderCellDef> Operator</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.operator}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef> URL</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.url}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef> Icon</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img class="md-img-select mat-icon-16x" src="assets/{{element.icon.path}}">
          {{element.icon.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="edit(element)">
            <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">mode_edit</mat-icon>
          </button>
          <button mat-icon-button (click)="duplicate(element)">
            <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">content_copy</mat-icon>
          </button>
          <button mat-icon-button (click)="remove(element)">
            <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card>
  <span class="done">
    <button mat-fab (click)="newRule()">
      <mat-icon>add circle</mat-icon>
    </button>
  </span>
</div>
