@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  font-family: Roboto, sans-serif;
  width: 100%;
}

md-sidenav-container {
  position: fixed;
  height: calc(100vh - 64px);
}

md-sidenav {
  width: 250px;
}

md-card {
  max-width: 90%;
  margin: 2em auto;
}

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.container-fluid {
  min-height: 100%;
}

.item {
  height:200px;
}

.item-1 {
  background-color: lightblue ;
}

.item-2 {
  background-color: green ;
}

.item-3 {
  background-color: red ;
}

.mat-elevation-z4 {
  position: relative;
  z-index: 2;
}

.app-primary-header {
  padding-left: 20px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 20px 8px;
    font-size: 20px;
  }
}
